<!-- index.hbs -->
<h1>Maine Wildlife</h1>
<nav>
    <ul>
        <li><a href="/animals">Interact with Animals</a></li>
        <li><a href="/locations">Interact with Locations</a></li>
        <li><a href="/observerAnimals">Interact with Observer/Animal Connections</a></li>
        <li><a href="/sightings">Interact with Sightings</a></li>
    </ul>
</nav>